.main {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  // border: 1px solid red;
  position: fixed;
  top: 10%;
  left: 2%;
  right: 2%;
  bottom: 8%;
  .div {
    // border: 1px solid red;
    top: 0;
    left: 0;
    height: 100%;
    width: 91%;
    .title {
      margin-top: 5%;
      // margin-left: 5%;
      font-size: 2rem;
      color: var(--text-secondary);
    }
    form {
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      // border: 1px solid red;

      .el {
        display: flex;
        align-items: center;
        margin-bottom: 10px; // Adjust spacing between form elements
        .label {
          font-size: 2.5em;
          color: var(--secondary-background);
        }
        input {
          /* Remove default input styles */
          border: none;
          //   outline: none;
          background-color: transparent;
          //   margin-top: 20px; /* Adjust as needed */
          color: greenyellow;
          border: 1px solid var(--border-color);
          font-weight: 450;
          font-size: 1em;
          width: 40%;
          // min-width: 200px;
          height: 30px;
          margin-top: -0.1%;
          position: absolute;
          left: 25%;
          //   padding-left: 5.4em;
        }
      }

      button {
        margin-top: 30px; // Adjust spacing between inputs and button
        width: 100px;
        height: 40px;
        margin-left: 58.5%;
        background-color: transparent;
        color: var(--text-secondary);
        border: none;
        border: 1px solid var(--border-color);
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button:hover {
        box-shadow: 0 0 21px 0 #4479e27c;
        border: 1px solid #4479e27c;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1046px) {
  .main {
    .div {
      form {
        .el {
          input {
            left: 35%;
          }
        }
        button {
          margin-left: 64%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    .div {
      form {
        .el {
          flex-direction: column;
          align-items: flex-start;
          input {
            position: relative;
            left: 0%;
          }
        }
        button {
          margin-left: 0%;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .main {
    .div {
      form {
        .el {
          input {
            width: 80%;
          }
        }
      }
    }
  }
}
