@font-face {
  font-family: chilax;
  src: url("../../public/font/Chillax-Bold.ttf");
}

@font-face {
  font-family: future;
  src: url("../../public/font/FutureSpace.ttf");
}
@font-face {
  font-family: orbitronBold;
  src: url("../../public/font/Orbitron\ Bold.ttf");
}
@font-face {
  font-family: orbitronBlack;
  src: url("../../public/font/Orbitron\ Black.ttf");
}
@font-face {
  font-family: venece;
  src: url("../../public/font/Venec.ttf");
}


*{
  margin: 0;
  font-family:  future;
  color: white;
  /* height: 100vh; */
  /* background-color: black; */
}

/* 
.container {
  width: 1536px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border : 2px solid red;
}

@media (max-width: 1536px) {
  .container {
    width: 1350px;
  }
}

@media (max-width: 1366px) {
  .container {
    width: 1250px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1150px;
    padding: auto;
  }
}

@media (max-width: 1100px) {
  .container {
    width: 990px;
  }
}
@media (max-width: 1046px) {
  .container {
    width: 920px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 850px;
  }
}

@media (max-width: 860px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 765px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 695px) {
  .container {
    width: 650px;
  }
}
@media (max-width: 657px) {
  .container {
    width: 550px;
  }
}
@media (max-width: 611px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 470px;
  }
}
@media (max-width: 537px) {
  .container {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 454px) {
  .container {
    width: 380px;
  }
}
@media (max-width: 410px) {
  .container {
    width: 340px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 300px;
  }
} */