:root {
  --background: #15171b;
  --secondary-background: #9ea6b6;
  --blue-background: #1a2230;
  --purple-background: #1d2029;
  --text-primary: #ededed;
  --text-secondary: #98a1b6;
  --card-background: #191b20;
  --code-color: #343437;
  --code-border: #525151;
  --code-string: #4f4e5b;
  --gradient: 81, 45, 39;
  --nav-color: #1a2230;
  --border-color: #29282e;
  --link-color: #4479e2;
}



@font-face {
  font-family: chilax;
  src: url("../../public/font/Chillax-Bold.ttf");
}

@font-face {
  font-family: future;
  src: url("../../public/font/FutureSpace.ttf");
}

@font-face {
  font-family: orbitronBold;
  src: url("../../public/font/Orbitron\ Bold.ttf");
}

@font-face {
  font-family: orbitronBlack;
  src: url("../../public/font/Orbitron\ Black.ttf");
}

@font-face {
  font-family: venece;
  src: url("../../public/font/Venec.ttf");
}


* {
  margin: 0;
  font-family: future;
  /* color: var(--text-primary); */
}
body {
  background-color: var(--background);
  color: var(--text-primary);
}

.container {
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1575px;

}