@font-face {
  font-family: chilax;
  src: url("../../public/font/Chillax-Bold.ttf");
}

@font-face {
  font-family: future;
  src: url("../../public/font/FutureSpace.ttf");
}
@font-face {
  font-family: orbitronBold;
  src: url("../../public/font/Orbitron\ Bold.ttf");
}
@font-face {
  font-family: orbitronBlack;
  src: url("../../public/font/Orbitron\ Black.ttf");
}
@font-face {
  font-family: venece;
  src: url("../../public/font/Venec.ttf");
}


*{
  margin: 0;
  font-family:  future;
  color: white;
  /* background-color: black; */
}