.main {
    height: 150vh;
    width: 90%;
    display: flex;
    position: absolute;
    z-index: 10;

    margin-top: 6%;

    .pdfContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; // Adjust the gap between cards as needed
        justify-content: center;
        height: 10vh;
        align-items: flex-start;
    }

    .pdfCard {
        // border: 1px solid red;
        width: 300px; // Adjust card width as needed
        padding: 20px;
        margin: 10px;
        .top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            a{
                text-decoration: none;
            }
            .link{
                color: var(  --link-color);
            }
            .link:hover {
                box-shadow: 0 0 21px 0 #4479e27c;
                border-radius: 5px;
                border: 1px solid #4479e27c;
                cursor: pointer;
              }
        }
    }
}
