.container2 {
  border: 1px solid red;
  height: 75%;
  width: 99.9%;
  z-index: 10;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .main {
    height: 90%;
    width: 91%;
    max-width: 1560px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    .div {
      // border: 1px solid red;
      position: absolute;
      top: 0;
      // left: 0;
      height: 100%;
      width: 100%;
      .title {
        margin-top: 5%;
        margin-left: 5%;
        font-size: 2em;
      }
      form {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        margin-left: 5%;
        // align-items: center;

        .el {
          display: flex;
          align-items: center;
          margin-bottom: 10px; // Adjust spacing between form elements
          .label {
            font-size: 2.5em;
          }
          input {
            /* Remove default input styles */
            border: none;
            //   outline: none;
            background-color: transparent;
            //   margin-top: 20px; /* Adjust as needed */
            color: greenyellow;
            border: 1px solid white;
            font-weight: 450;
            font-size: 1em;
            width: 40%;
            height: 30px;
            margin-top: -0.1%;
            position: absolute;
            left: 25%;
            //   padding-left: 5.4em;
          }
        }

        button {
          margin-top: 30px; // Adjust spacing between inputs and button
          width: 100px;
          height: 40px;
          margin-left: 56%;
          background-color: transparent;
          color: white;
          border: none;
          border: 1px solid white;
          font-size: 1.2em;
        }
      }
    }
  }
}

@media (max-width: 1046px) {
  .container2{
    .main{
      .div{
        form{
          .el{
            input{
              left: 35%;
            }
          }
          button{
            margin-left: 64%;
          }
         }
      }
    }
  }
}

@media (max-width: 800px) {
  .container2{
    .main{
      .div{
        form{
          .el{
            flex-direction: column;
            align-items:flex-start;
            input{
              position: relative;
              left: 0%;
            }
          }
         }
      }
    }
  }
}

@media (max-width: 860px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 765px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 695px) {
  .container {
    width: 650px;
  }
}
@media (max-width: 657px) {
  .container {
    width: 550px;
  }
}
@media (max-width: 611px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 470px;
  }
}
@media (max-width: 537px) {
  .container {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 454px) {
  .container {
    width: 380px;
  }
}
@media (max-width: 410px) {
  .container {
    width: 340px;
  }
}
@media (max-width: 350px) {
  .container {
    width: 300px;
  }
}
